<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>

		 <link rel="stylesheet" type="text/css" href="../static/js/lib/bootstrap/bootstrap-3.3.7-dist/css/bootstrap.css"/>
		<script src="../static/js/lib/JQuery/jquery-2.1.4.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/lib/bootstrap/bootstrap-3.3.7-dist/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>

		<style>


			.nav{
					background-color: white;
					font-size: large;
					border-radius: 10px;
				}
				.nav_form{
					list-style: none;

				}
				.nav_form>li{
					display: inline;
					float: left;
					margin-right: 30px;
				}
				.nav_form>li>a{
					display: block;
					line-height: 50px;
					color: #747774;
					text-decoration: none;
				}
				.nav_form>li:hover a{
					color: #F75C5C;
					border-bottom: 2px solid #F75C5C;
				}

		</style>
	</head>

	<body>
		<div class="container">
			<div class="nav">
				<ul class="nav_form">
					<li><a href="/">首页</a></li>
					<li><a href="#">个人信息</a></li>
					<li style="color: #F75C5C;border-bottom: 2px solid #F75C5C;"><a href="/list">项目列表</a></li>
					<li><a href="/quit">登出</a></li>
				</ul>
			</div>
			<h3>修改 <large style="color: #2e6da4">{{projectlist[1]}}</large> 项目信息</h3>
			<form action="/editpro/{{projectlist[0]}}" method="post">
				项目名称：<br><input type="text" name="proname" placeholder="请输入新的项目名" /><br><br>
				项目备注：<br><textarea name="proremark" rows="10" cols="30"  placeholder="请输入项目信息"></textarea>
				<br><input type="submit" value="提交修改" />
			</form>
		</div>
	</body>
</html>
