<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../static/css/menu_top_footer.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/xinshouzhiyin.css"/>
	</head>
	<body>
		<div class="menu">
			<div class="menu_box">
				<div class="menu_box_left">
					<ul>
						<li style="width: 210px;">
							<a href="#" class="m_b_img"><img src="img/sl_01.png"></a>
							<a href="#">客服热线 400-888-8888</a>
						</li>
						<li><a href="#">帮助中心</a></li>
						<li><a href="#">积分商城</a></li>
					</ul>
				</div>
				<div class="menu_box_right">
					<a href="登录.html" class="m_b_r_1">登录</a>
					<a href="注册.html" class="m_b_r_2" style="color: white;">注册</a>
				</div>
			</div>
		</div>
		
		<div class="top">
			<div class="logo_nav">
				<div class="logo">
					<img src="img/sl_03.png" >
				</div>
				<div class="nav">
					<ul class="nav_form">
						<li><a href="#">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li class="xinshouzhiyin"><a href="新手指引.html">新手引导</a></li>
						<li><a href="#">问答专区</a></li>
						<li><a href="#">关于我们</a></li>
						<li><a href="#">我的账户</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="xszy_banner"></div>
		
		<div class="xszy_content">
			<div class="xszy_c_diy">
				<h1>为什么选择祺聚宝？</h1>
				<div class="xszy_c_d_youshi">
					<dl>
						<dd>
							<img src="img/xszy-tu.png" >
						</dd>
						<dt>
							<h2>更安全</h2>
							A8安全体系，专业风控<br>团队，100%本息保障
						</dt>
					</dl>
					<dl>
						<dd>
							<img src="img/xszy-tu2.png" >
						</dd>
						<dt>
							<h2>低门槛</h2>
							100元起步，零花钱即可<br>投资，轻松理财
						</dt>
					</dl>
					<dl>
						<dd>
							<img src="img/xszy-tu3.png" >
						</dd>
						<dt>
							<h2>高收益</h2>
							40倍银行存款利息，4倍<br>余额宝收益，实现<br>12%-18%的高收益
						</dt>
					</dl>
					<dl style="margin-right: 0;">
						<dd>
							<img src="img/xszy-tu4.png" >
						</dd>
						<dt>
							<h2>易流通</h2>
							突然想用钱收回投资，自<br>主定价挂牌转让，流动性<br>极强
						</dt>
					</dl>
				</div>
			</div>
			<div class="xszy_c_dierk">
				<h1>有哪些理财产品？</h1>
				<div class="xszy_c_d_chanpin">
						<dl>
							<dd><img src="img/xszy-yuan.png"></dd>
							<dt><h3>定活通</h3>
							经过平台严格风控的投资项目，包<br>括企业经营贷，车房贷以及多种形<br>式的贷款投资产品。
							</dt>
						</dl>
						<dl style="border-left: none;">
							<dd><img src="img/xszy-yuan2.png"></dd>
							<dt><h3>散标投资</h3>
							经过平台严格风控的投资项目，包<br>括企业经营贷，车房贷以及多种形<br>式的贷款投资产品。
							</dt>
						</dl>
						<dl style="border-right:none;">
							<dd><img src="img/xszy-yuan3.png"></dd>
							<dt><h3>债权市场</h3>
							债权市场是将已投产品卖出的场所,<br>以便提前收回资金,提高流动性,同时<br>还可根据偏好的投资期限、利率，认<br>购他人转让的债权。
							</dt>
						</dl>
					</div>
			</div>
			<div class="xszy_c_sank">
				<h1>如何投资？</h1>
				<div class="a-not">               
					<ul class="jnav clearfloat">
						<li class="fl ml27 zc"><a href="" class="jjcurrent">注册</a></li>
						<li class="fl"><a href="">实名认证</a></li>
						<li class="fl"><a href="">充值</a></li>
						<li class="fl "><a href="">投资</a></li>  
						<li class="fl zc xian" style="border-right: none;"><a href="javascript:;">获得收益</a></li>
					</ul>
				</div>
				<div class="a-Income">
					<div class="a-two">
						<img src="img/img1.jpg">
					</div>
					<div class="a-two" style="display:none;">
						<img src="img/img2.jpg">
					</div>
					<div class="a-two" style="display:none;">
						<img src="img/img3.jpg">
					</div>
					<div class="a-two" style="display:none;">
						<img src="img/img4.jpg">
					</div>
					<div class="a-two" style="display:none;">
						<img src="img/img5.jpg">
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer">
			<div class="f_contet">
				<div class="f_c_top">
					<div class="f_c_t_left">
						<p><img src="img/rh-di.png" >&nbsp;&nbsp;虹口区四平路421弄3号3幢B座2-3楼</p>
						<p><img src="img/rh-ico.png" >&nbsp;&nbsp;咨询电话：400-888-6666</p>
						<p><img src="img/duanx.png" >&nbsp;&nbsp;qijubao@service.com</p>
					</div>
					<div class="f_c_t_mid">
						<img class="f_c_t_m_img" src="img/sl_05.png" alt="">
						<ul class="f_c_t_m_ul">
							<li>
								<span class="mid_li1"></span>
							</li>
							<li>
								<span class="mid_li2"></span>
								<div >
									<img class="mid_li2_img" src="img/J-erweima01.png" >
								</div>
								
							</li>
							<li>
								<span class="mid_li3"></span>
							</li>
							
						</ul>
						  
					</div>
					<div class="f_c_t_right">
						<dl>
							<dt>投资理财</dt>
							<dd><a href="#">定存宝</a></dd>
							<dd><a href="#">投资项目</a></dd>
							<dd><a href="#">债权转让</a></dd>
						</dl>
						<dl>
							<dt>关于我们</dt>
							<dd><a href="#">公司简介</a></dd>
							<dd><a href="#">管理团队</a></dd>
							<dd><a href="#">联系我们</a></dd>
						</dl>
						<dl>
							<dt>帮助中心</dt>
							<dd><a href="#">常见问题</a></dd>
							<dd><a href="#">隐私保护</a></dd>
							<dd><a href="#">使用条款</a></dd>
						</dl>
					</div>
				</div>
				<div class="f_c_mid">
					<ul class="f_c_t_yqlj">
						<li><a>友情链接：</a></li>
						<li><a href="#">英科信息</a></li>
						<li><a href="#">网贷中国</a></li>
						<li><a href="#">网贷之家</a></li>
						<li><a href="#">英科信息</a></li>
						<li><a href="#">网贷中国</a></li>
						<li><a href="#">网贷之家</a></li>
						<li><a href="#">英科信息</a></li>
						<li><a href="#">网贷中国</a></li>
						<li><a href="#">网贷之家</a></li>
						<li><a href="#">英科信息</a></li>
						<li><a href="#">网贷中国</a></li>
						<li><a href="#">网贷之家</a></li>
						<li><a href="#">英科信息</a></li>
					</ul>
				</div>	
				<div class="f_c_bottom">
					<img src="img/sl_29.png" >
					<img src="img/sl_30.png" >
					<img src="img/sl_31.png" >
					<img src="img/sl_32.png" >
					<p>上海主林信息服务有限公司  版权所有　沪ICP备15044200号</p>
				</div>
			</div>
		</div>
		
	</body>
</html>
