<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../static/css/menu_top_footer.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/zhuce1.css"/>
	</head>
	<body>
		<div class="menu">
			<div class="menu_box">
				<div class="menu_box_left">
					<ul>
						<li style="width: 210px;">
							<a href="#" class="m_b_img"><img src="img/sl_01.png"></a>
							<a href="#">客服热线 400-888-8888</a>
						</li>
						<li><a href="#">帮助中心</a></li>
						<li><a href="#">积分商城</a></li>
					</ul>
				</div>
				<div class="menu_box_right">
					<a href="登录.html" class="m_b_r_1">登录</a>
					<a href="#" class="m_b_r_2" style="color: white;">注册</a>
				</div>
			</div>
		</div>
		
		<div class="top">
			<div class="logo_nav">
				<div class="logo">
					<img src="img/sl_03.png" >
				</div>
				<div class="nav">
					<ul class="nav_form">
						<li><a href="#">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li><a href="新手指引.html">新手引导</a></li>
						<li><a href="#">问答专区</a></li>
						<li><a href="#">关于我们</a></li>
						<li><a href="#">我的账户</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="register_contant">
			<div class="contant">
				<div class="r_c_top">
					<dl class="clearfix">
						<dd style="text-align: left;">填写账户信息</dd>
						<dd>验证账户信息</dd>
						<dd style="text-align: right;">注册成功&nbsp;&nbsp;</dd>
					</dl>
				</div>
				<div class="r_c_list">
					<div class="r_c_l_con">
						<form action="/regist" class="clearfix" method="post">
							<input type="text" id="userPhone" name="userAccount" placeholder="用户名" onfocus="getfocus(this)" onblur="lostfocus(this,'用户名')">
							
							<input type="text" id="userPassword" name="userAccount" placeholder="密码">
							<input type="text" id="password" name="userAccount" placeholder="验证密码">
							<div class="box_yzm">
								<input class="yzm" type="text" placeholder="验证码">
								<img src="img/dl_02%20(1).png" style="float: left;">
							</div>
							<br>
							<input type="checkbox" value="book" id="book" name="hobby" style="width:15px;float:left;height: 20px;margin-top:4px;">
							<b class="wyyd">点击注册表示您已阅并同意<a href="#" style="color: #F75C5C; text-decoration: none;" >《用户注册协议》</a></b>
							
							<br>
							<input type="submit" id="submit" value="注册"/>
						</form>
						<div class="huo"><p>有账号？<a href="登录.html" style="color: #F75C5C; text-decoration: none;">登录</a></p></div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer">
			<div class="f_contet">
				<div class="f_c_top">
					<div class="f_c_t_left">
						<p><img src="img/rh-di.png" >&nbsp;&nbsp;虹口区四平路421弄3号3幢B座2-3楼</p>
						<p><img src="img/rh-ico.png" >&nbsp;&nbsp;咨询电话：400-888-6666</p>
						<p><img src="img/duanx.png" >&nbsp;&nbsp;qijubao@service.com</p>
					</div>
					<div class="f_c_t_mid">
						<img class="f_c_t_m_img" src="img/sl_05.png" alt="">
						<ul class="f_c_t_m_ul">
							<li>
								<span class="mid_li1"></span>
							</li>
							<li>
								<span class="mid_li2"></span>
								<div >
									<img class="mid_li2_img" src="img/J-erweima01.png" >
								</div>
								
							</li>
							<li>
								<span class="mid_li3"></span>
							</li>
							
						</ul>
						  
					</div>
					<div class="f_c_t_right">
						<dl>
							<dt>投资理财</dt>
							<dd><a href="#">定存宝</a></dd>
							<dd><a href="#">投资项目</a></dd>
							<dd><a href="#">债权转让</a></dd>
						</dl>
						<dl>
							<dt>关于我们</dt>
							<dd><a href="#">公司简介</a></dd>
							<dd><a href="#">管理团队</a></dd>
							<dd><a href="#">联系我们</a></dd>
						</dl>
						<dl>
							<dt>帮助中心</dt>
							<dd><a href="#">常见问题</a></dd>
							<dd><a href="#">隐私保护</a></dd>
							<dd><a href="#">使用条款</a></dd>
						</dl>
					</div>
				</div>
				<div class="f_c_mid">
					<ul class="f_c_t_yqlj">
						<li><a>友情链接：</a></li>
						<li><a href="#">英科信息</a></li>
						<li><a href="#">网贷中国</a></li>
						<li><a href="#">网贷之家</a></li>
						<li><a href="#">英科信息</a></li>
						<li><a href="#">网贷中国</a></li>
						<li><a href="#">网贷之家</a></li>
						<li><a href="#">英科信息</a></li>
						<li><a href="#">网贷中国</a></li>
						<li><a href="#">网贷之家</a></li>
						<li><a href="#">英科信息</a></li>
						<li><a href="#">网贷中国</a></li>
						<li><a href="#">网贷之家</a></li>
						<li><a href="#">英科信息</a></li>
					</ul>
				</div>	
				<div class="f_c_bottom">
					<img src="img/sl_29.png" >
					<img src="img/sl_30.png" >
					<img src="img/sl_31.png" >
					<img src="img/sl_32.png" >
					<p>上海主林信息服务有限公司  版权所有　沪ICP备15044200号</p>
				</div>
			</div>
		</div>
		
		
		
	</body>
</html>
